$primary-color1: #fff;
$primary-color2: #f4f6f8;
$primary-color3: #e5e7eb;
$primary-color4: #9ca3af;
$primary-color5: #1f2933;
$primary-color6: #0f172a;
$primary-color7: #6070ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Slab", serif;;
}

body {
    background: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.3));
}

nav {
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.dark {
    background-color: black;
    color: $primary-color2;
}

.themeBtn {
  width: 50px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  border: 1px solid $primary-color1;
  border-radius: 999px;
  overflow: hidden;
  cursor: pointer;
  background: $primary-color7;
  position: relative;
}

.themeBtn i {
    display: block;
    background-color: $primary-color6;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 2px;
}

.themeBtn.dark i {
    left: 28px;
    background-color: $primary-color1;
}

main {
    max-width: 90%;
    margin: 8px auto;
    
    > section {
        overflow: hidden;
        margin-bottom: 12px;
    }
}

.card-template {
    border: 3px solid $primary-color2;
    border-radius: 10px;
    width: 100%;
    background: $primary-color4;
    position: relative;
}

.time, .tasks, .music, .motivate {
    @extend .card-template;
}

.time {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 4px 7px;
    box-shadow: $primary-color4;

    h1 {
        font-variant-numeric: tabular-nums;
        white-space: nowrap;
        font-family: "Sofia", monospace;
        text-align: center;
        font-weight: bolder;
        color: $primary-color6;
    }

    h2 {
        font-family: "Sofia", cursive;
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        color: $primary-color6;
    }
}

.tasks {
    height: 50vh;
    h2 {
        margin-bottom: 8px;
    }
    padding: 12px;
    .inputSect {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4px;
        input {
            color: $primary-color6;
            border: none;
            border-radius: 8px;
            flex: 1;
            padding: 4px;
        }
        input:focus {
            color: $primary-color5;
            border: none;
            margin-bottom: 4px;
            transition: margin-bottom 0.3s ease;
            background: $primary-color3;
            outline: 2px solid $primary-color2;
        }
        button {
            background: $primary-color5;
            border: none;
            color: $primary-color1;
            padding: 4px;
            border-radius: 8px;
        }
        button:active {
            border: none;
            outline: 2px solid $primary-color2;
            background: $primary-color1;
            color: $primary-color6;
            font-weight: 700;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin-top: 12px;
        overflow-y: auto;
        max-height: 70%;
        li {
            display: flex;
            flex-direction: row;
            gap: 4px;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
            font-weight: 700;
            color: $primary-color6;
            border-bottom: 2px solid $primary-color1;
            padding: 4px;
            overflow-wrap: anywhere;
            max-width: 100%;
            section {
                display: flex;
                gap: 8px;
                align-items: center;
            }
            button.taskDelBtn {
                width: 18px;
                background-color: $primary-color6;
                color: $primary-color5;
                border: 1px solid $primary-color1;
                padding: 2px;
                text-align: center;
                border-radius: 4px;
            }
        }
    }
}

.checked {
    text-decoration: line-through;
    color: $primary-color1;
}

.music {
    section.songWrapper {
        img.songImg {
            width: 100px;
            border-radius: 12px;
            height: 100%;
        }
        display: flex;
        flex-direction: row;
        gap: 4px;
        margin-bottom: 4px;
    }
    section.musicNav {
        padding: 8px;
        h1 {
            font-size: 18px;
        }
        h2 {
            font-size: 14px;
        }
        p {
            button {
                padding: 0;
                background: none;
                border: none;
                svg {
                    padding: 0;
                }
            }
        }
    }
}