* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Slab", serif;
}

body {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(0, 0, 255, 0.3));
}

nav {
  background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.dark {
  background-color: black;
  color: #f4f6f8;
}

.themeBtn {
  width: 50px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;
  border-radius: 999px;
  overflow: hidden;
  cursor: pointer;
  background: #6070ff;
  position: relative;
}

.themeBtn i {
  display: block;
  background-color: #0f172a;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 2px;
}

.themeBtn.dark i {
  left: 28px;
  background-color: #fff;
}

main {
  max-width: 90%;
  margin: 8px auto;
}
main > section {
  overflow: hidden;
  margin-bottom: 12px;
}

.card-template, .time, .tasks, .music, .motivate {
  border: 3px solid #f4f6f8;
  border-radius: 10px;
  width: 100%;
  background: #9ca3af;
  position: relative;
}

.time {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 4px 7px;
  box-shadow: #9ca3af;
}
.time h1 {
  font-variant-numeric: tabular-nums;
  white-space: nowrap;
  font-family: "Sofia", monospace;
  text-align: center;
  font-weight: bolder;
  color: #0f172a;
}
.time h2 {
  font-family: "Sofia", cursive;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  color: #0f172a;
}

.tasks {
  height: 50vh;
}
.tasks h2 {
  margin-bottom: 8px;
}
.tasks {
  padding: 12px;
}
.tasks .inputSect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}
.tasks .inputSect input {
  color: #0f172a;
  border: none;
  border-radius: 8px;
  flex: 1;
  padding: 4px;
}
.tasks .inputSect input:focus {
  color: #1f2933;
  border: none;
  margin-bottom: 4px;
  transition: margin-bottom 0.3s ease;
  background: #e5e7eb;
  outline: 2px solid #f4f6f8;
}
.tasks .inputSect button {
  background: #1f2933;
  border: none;
  color: #fff;
  padding: 4px;
  border-radius: 8px;
}
.tasks .inputSect button:active {
  border: none;
  outline: 2px solid #f4f6f8;
  background: #fff;
  color: #0f172a;
  font-weight: 700;
}
.tasks ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 12px;
  overflow-y: auto;
  max-height: 70%;
}
.tasks ul li {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  font-weight: 700;
  color: #0f172a;
  border-bottom: 2px solid #fff;
  padding: 4px;
  overflow-wrap: anywhere;
  max-width: 100%;
}
.tasks ul li section {
  display: flex;
  gap: 8px;
  align-items: center;
}
.tasks ul li button.taskDelBtn {
  width: 18px;
  background-color: #0f172a;
  color: #1f2933;
  border: 1px solid #fff;
  padding: 2px;
  text-align: center;
  border-radius: 4px;
}

.checked {
  text-decoration: line-through;
  color: #fff;
}

.music section.songWrapper img.songImg {
  width: 100px;
  border-radius: 12px;
  height: 100%;
}
.music section.songWrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin-bottom: 4px;
}
.music section.musicNav {
  padding: 8px;
}
.music section.musicNav h1 {
  font-size: 18px;
}
.music section.musicNav h2 {
  font-size: 14px;
}
.music section.musicNav p button {
  padding: 0;
  background: none;
  border: none;
}
.music section.musicNav p button svg {
  padding: 0;
}/*# sourceMappingURL=style.css.map */